<div class="box padding">

  <p class="title" *ngIf="!userId">
    Add user
  </p>

  <p class="title" *ngIf="userId">
    Edit user
  </p>

  <form class="form" #userForm='ngForm'>

    <p class="custom-input-label">
      Name
    </p>
    <input
      type="text"
      class="custom-input"
      name="userName"
      #userName="ngModel"
      required
      minlength="3"
      [(ngModel)]="user.userName"
      [ngClass]="{'error' : (userName.touched && userName.invalid) || (userName.invalid && !formIsValid)}"
      placeholder="name"
    >
    <p class="error-text" *ngIf="(userName.touched && userName.invalid) || (userName.invalid && !formIsValid)">
      User name must include min 3 characters.
    </p>

    <p class="custom-input-label">
      Surname
    </p>
    <input
      type="text"
      class="custom-input"
      name="surname"
      #surname="ngModel"
      required
      minlength="3"
      [(ngModel)]="user.surname"
      [ngClass]="{'error' : (surname.touched && surname.invalid) || (surname.invalid && !formIsValid)}"
      placeholder="surname"
    >
    <p class="error-text" *ngIf="(surname.touched && surname.invalid) || (surname.invalid && !formIsValid)">
      Surname name must include min 3 characters.
    </p>

    <p class="custom-input-label">
      Email
    </p>
    <input
      type="text"
      class="custom-input"
      name="email"
      #email="ngModel"
      required
      minlength="3"
      [pattern]="emailPattern"
      [(ngModel)]="user.email"
      [ngClass]="{'error' : (email.touched && email.invalid) || (email.invalid && !formIsValid)}"
      placeholder="email"
    >
    <p class="error-text" *ngIf="(email.touched && email.invalid) || (email.invalid && !formIsValid)">
      Please enter password in correct format
    </p>

    <p class="custom-input-label">
      Mobile
    </p>
    <input
      type="text"
      class="custom-input"
      name="mobile"
      #mobile="ngModel"
      required
      minlength="3"
      [(ngModel)]="user.mobile"
      [ngClass]="{'error' : (mobile.touched && mobile.invalid) || (mobile.invalid && !formIsValid)}"
      placeholder="mobile"
    >
    <p class="error-text" *ngIf="(mobile.touched && mobile.invalid) || (mobile.invalid && !formIsValid)">
      Please enter password in correct format
    </p>

    <p class="custom-input-label">
      Password
    </p>
    <div class="password-input-wrapper">
      <input
        type="password"
        class="custom-input"
        name="password"
        #password="ngModel"
        #passwordInput
        [pattern]="passwordRegex"
        required
        minlength="6"
        [(ngModel)]="user.password"
        [ngClass]="{'error' : (password.touched && password.invalid) || (password.invalid && !formIsValid)}"
        placeholder="password"
      >
      <button type="button" class="btn password-toggle-btn" (click)="togglePassword(passwordInput)">
        <img *ngIf="passwordInput.type === 'text'" src="assets/img/hide-pass.svg" class="hide-pass" alt="">
        <img *ngIf="passwordInput.type === 'password'" src="assets/img/show-pass.svg" class="show-pass" alt="">
      </button>
    </div>
    <p class="error-text" *ngIf="(password.touched && password.invalid) || (password.invalid && !formIsValid)">
      Password must include min 6 alphanumeric characters.
    </p>

    <p class="custom-input-label">
      Role
    </p>
    <select
      #role="ngModel"
      [(ngModel)]="user.role"
      required
      [ngClass]="{'error' : (role.touched && role.invalid) || (role.invalid && !formIsValid)}"
      name="role" id=""
      class="custom-input common-input-select"
    >
      <option [value]="ROLE_ENUM.ADMIN">Admin</option>
      <option [value]="ROLE_ENUM.USER">User</option>
    </select>
    <p class="error-text" *ngIf="(role.touched && role.invalid) || (role.invalid && !formIsValid)">
      Please select the role.
    </p>

    <p class="custom-input-label">
      Position at work
    </p>
    <input
      type="text"
      class="custom-input"
      name="position"
      #position="ngModel"
      required
      minlength="3"
      [(ngModel)]="user.position"
      [ngClass]="{'error' : (position.touched && position.invalid) || (position.invalid && !formIsValid)}"
      placeholder="Position at work"
    >
    <p class="error-text" *ngIf="(position.touched && position.invalid) || (position.invalid && !formIsValid)">
      Position must include min 3 alphanumeric characters.
    </p>

    <p class="custom-input-label">
      Department
    </p>
    <input
      type="text"
      class="custom-input"
      name="department"
      #department="ngModel"
      required
      minlength="3"
      [(ngModel)]="user.department"
      [ngClass]="{'error' : (department.touched && department.invalid) || (department.invalid && !formIsValid)}"
      placeholder="Department"
    >
    <p class="error-text" *ngIf="(department.touched && department.invalid) || (department.invalid && !formIsValid)">
      Department must include min 3 alphanumeric characters.
    </p>

    <button (click)="addUser(userForm)" type="button" class="btn add-user-btn" *ngIf="!userId">
      Add user
    </button>

    <button (click)="saveEdit(userForm)" type="button" class="btn add-user-btn" *ngIf="userId">
      Save
    </button>

  </form>

</div>
