<header class="header">

  <nav>
    <ul class="nav-list">
      <li class="nav-list-item">
        <a
          [routerLink]="'/dashboard'"
          [routerLinkActive]="'active'"
          class="nav-list-link"
        >
          Dashboard
        </a>
      </li>
      <li class="nav-list-item">
        <a [routerLink]="'/task'"
           [routerLinkActive]="'active'"
           class="nav-list-link"
        >
          Tasks
        </a>
      </li>
      <li class="nav-list-item">
        <a
          [routerLink]="'/user'"
          [routerLinkActive]="'active'"
          class="nav-list-link"
        >
          Users
        </a>
      </li>
    </ul>
  </nav>

  <div class="profile-block">

    <p class="user-name">
      {{user?.userName}}
    </p>

    <div class="avatar center">
      <img src="assets/img/avatar.svg" alt="">
    </div>

    <button class="btn center">
      <img src="assets/img/header-arrow.svg" alt="">
    </button>

  </div>

</header>
