<div class="select-container" appClickOutSide (clickOutside)="selectIsOpen = false">

  <input (input)="search($event)" (focusin)="selectIsOpen = true"
         type="text"
         class="custom-input"
         [ngClass]="{'error' : error}"
  >

  <img class="arrow" src="assets/img/header-arrow.svg" alt="">


  <ul class="select-list" *ngIf="selectIsOpen">
    <ng-container *ngFor="let item of list?.list">
      <li
        [ngStyle]="{'display': filter(item.displayText)? 'flex' : 'none'}"
        [ngClass]="isChecked(item)? 'selected' : 'true'"
        class="select-item"
      >
        <input
          (change)="checkboxHandle($event, item)"
          type="checkbox"
          [checked]="isChecked(item)"
          [id]="item.value + '_select'"
        >
        <label
          [for]="item.value + '_select'"
        >
          {{item.displayText}}
        </label>
      </li>
    </ng-container>
  </ul>

  <ul class="selected-list">
    <li
      class="selected-list-item flex align-items-center"
      *ngFor="let some of selectedList"
    >
      {{some.displayText}}
      <button
        class="btn center delete-item-btn"
        (click)="deleteFromList(some)"
      >
        <img src="assets/img/close-toast-btn.svg" alt="">
      </button>
    </li>
  </ul>

</div>
