.dashboard-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.users-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #1F4173;
  padding-left: 32px;
}

.task-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #1F4173;
}

.tasks-list {
  padding: 0 0 32px;
}

.table {
  width: 100%;
  margin-top: 20px;
}

.td {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #1F4173;
  padding: 10px;
}

thead th {
  border: none;
}

.tr {
  border-top: 1px solid #E6EAF0;
  border-collapse: collapse;
  transition: all 300ms ease;

  &.active {
    background: #E6EAF0;
    border-top: 1px solid transparent;
  }
}

table {
  border-collapse: collapse;
}

.task-list {
  max-height: 500px;
  overflow-y: auto;
}

.task-item {
  padding: 10px 10px 5px 32px;
  border-bottom: 1px solid #E6EAF0;
  cursor: pointer;
}

.task-item-header {
  margin: 0 15px;
  padding: 5px 0;
  display: grid;
  border-bottom: 1px solid transparent;
  grid-template-columns: 1fr 200px 20px;
}

.go-to-btn {
  background: #E6EAF0;
  border-radius: 5px;
  font-size: 14px;
  line-height: 17px;
  color: #1F4173;
  padding: 5px 10px;
}

.task-item-body {
  margin: 0 15px;
  height: 0;
  overflow: hidden;
  transition: all 300ms ease;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.task-header {
  font-weight: 600;
}

.task-item {

  &.active {

    .task-item-body {
      height: 90px;
    }

    .task-item-header {
      border-bottom: 1px solid #E6EAF0;
    }

    .task-header-arrow {
      transform: rotate(180deg);
    }

  }
}

.last-login {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #6E6893;
}

.task-item-label li {
  font-size: 15px;
  color: #424242;
  font-weight: 600;
}

.task-item-value li {
  font-size: 15px;
  color: #424242;
  font-weight: 400;
}

.note {
  font-size: 16px;
  color: #424242;
  text-align: center;
}




