<div [ngStyle]="{'display': isLogin? 'block' : 'none'}">
  <app-header *ngIf="isLogin"></app-header>
</div>

<router-outlet></router-outlet>


<div class="toast-container" [ngClass]="{'active': toast?.state}">

  <button (click)="deleteToast()" class="btn close-toast-btn center">
    <img src="assets/img/close-toast-btn.svg" alt="">
  </button>

  <img [hidden]="!(toast?.type === toastTypeEnum.SUCCESS || !toast?.type)" src="assets/img/success-toast.svg" alt="">
  <img [hidden]="!(toast?.type === toastTypeEnum.ERROR)" src="assets/img/error-toast.svg" alt="">
  <img [hidden]="!(toast?.type === toastTypeEnum.INFO)" src="assets/img/info-toast.svg" alt="">

  <p class="toast-text">
    {{toast?.text}}
  </p>

</div>
