<div class="register-page">

  <p class="register-title">Register</p>

  <form #registerForm='ngForm' action="" class="register-form">

    <div class="register-form-inner">

      <input ngModel type="text" class="common-input" placeholder="Company Name" name="organizationName">
      <input ngModel type="number" class="common-input" placeholder="Number" name="mobile">
      <input ngModel type="text" class="common-input" placeholder="Address" name="address">

      <input ngModel type="text" class="common-input" placeholder="Name" name="userName">
      <input ngModel type="text" class="common-input" placeholder="Email" name="email">
      <input ngModel type="password" class="common-input" placeholder="Password" name="password">
      <button class="btn primary" (click)="save(registerForm)">
        Save
      </button>
      <p class="login-question">You have an account, <a [routerLink]="'/auth/login'">log in</a></p>

    </div>

  </form>

</div>
