.common-input {
  margin-top: 15px;
}

.register-form {
  width: 300px;
  border-radius: 2px;
}

.register-title {
  font-size: 35px;
  line-height: 21px;
  color: #1B242C;
  font-weight: 700;
  margin-bottom: 25px;
}

.register-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.login-question {
  font-weight: 500;
  color: rgba(41, 50, 65, 0.5);
  text-align: right;
  margin-top: 10px;
  font-size: 14px;

  a {
    color: #2170E7;
    cursor: pointer;
  }
}

.login-btn {
  width: 100%;
  margin-top: 20px;
}

.error-text {
  margin-top: 5px;
}
