<div class="register-page">

  <p class="register-title">Log In</p>
  <form #loginForm='ngForm' class="register-form">

    <div class="register-form-inner">

      <input
        type="text"
        class="common-input"
        placeholder="email"
        name="email"
        ngModel=""
        [email]="true"
      >
      <input
        type="password"
        class="common-input"
        placeholder="Password"
        name="password"
        ngModel
        minlength="6"
      >

      <button class="btn custom-btn primary login-btn" (click)="login(loginForm)">
        Log In
      </button>

      <p class="login-question">Don’t you have an account, <a [routerLink]="'/auth/register'">sign up</a></p>

    </div>


  </form>

</div>
