.register-page {
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  width: 100vw;
  height: 100vh;
}

.register-page-left {
  background-image: url('../../../../assets/img/login.png');
  background-size: cover;
  background-repeat: no-repeat;
}

.register-page-right {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: #fff;
}

.register-form {
  width: 300px;
  border-radius: 2px;
}

.register-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #1A1A1A;
  margin-bottom: 10px;
}

.login-question {
  font-weight: 500;
  color: rgba(41, 50, 65, 0.5);
  text-align: right;
  margin-top: 10px;
  font-size: 14px;

  a {
    color: #2170E7;
    cursor: pointer;
  }
}

.login-btn {
  width: 100%;
  margin-top: 30px;
}

.error-text {
  margin-top: 5px;
}

.h-line {
  border-bottom: 1px solid #E5E5E5;;
  width: 100%;
  margin-top: 15px;
}

.password-input-wrapper {
  margin-bottom: 20px;
  position: relative;

  .custom-input {
    margin: 0;
  }
}

.password-toggle-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;

  img {
    width: 20px;
  }
}
