<div class="box">


  <div class="table">

    <div class="table-top">

      <div class="search-container">
        <img src="assets/img/search.svg" alt="">
        <input #filterInput (input)="filter(filterInput)" type="text" class="search-input" placeholder="Search Users by Name, Email or Date">
      </div>

      <button *ngIf="isAdmin" class="btn add-user-btn" [routerLink]="'/user/add'">
        Add user
      </button>

    </div>
    <div class="table-row table-row-header">
      <div class="table-cell">
        #
      </div>
      <div class="table-cell">
        User
      </div>
      <div class="table-cell">
        Email
      </div>
      <div class="table-cell">
        Role
      </div>
      <div class="table-cell">
        Position at work
      </div>
      <div class="table-cell">
        Department
      </div>
      <div class="table-cell">
        Last login
      </div>
      <div class="table-cell">
        Active Tasks
      </div>
      <div class="table-cell">
        Action
      </div>
    </div>

    <ng-container *ngFor="let userItem of userList; let i = index">
      <div class="table-row">
        <div class="table-cell">
          {{i}}
        </div>
        <div class="table-cell">
          {{userItem?.userName}} {{userItem.surname}}
        </div>
        <div class="table-cell">
          <p class="email">
            {{userItem?.email}}
          </p>
        </div>
        <div class="table-cell">
          {{getRole(userItem)}}
        </div>
        <div class="table-cell">
          {{userItem?.position}}
        </div>
        <div class="table-cell">
          {{userItem?.department}}
        </div>
        <div class="table-cell">
          <p class="last-login">
            {{getDate(userItem?.lastLogin)}}
          </p>
          <p class="last-login">
            {{getTime(userItem?.lastLogin)}}
          </p>
        </div>
        <div class="table-cell">
          <div class="task-cell">
            {{getSolvedTasks(userItem?.taskCounter, userItem?.solvedTaskCounter)}}
            <button class="btn action-btn">Show all</button>
          </div>
        </div>
        <div class="table-cell">
          <button class="btn action-btn" [routerLink]="'/user/edit/' + userItem.id">
            Edit
          </button>
        </div>
      </div>
    </ng-container>
  </div>


</div>
