<div class="box">


  <div class="table">

    <div class="table-top">

      <div class="search-container">
        <img src="assets/img/search.svg" alt="">
        <input #filterInput (input)="filter(filterInput)" type="text" class="search-input"
               placeholder="Search Users by Name, Email or Date">
      </div>

      <button *ngIf="isAdmin" class="btn add-user-btn" [routerLink]="'/user/add'">
        Add user
      </button>

    </div>
    <table class="table">

      <thead class="thead">
      <tr class="tr">
        <th class="th">
          #
        </th>
        <th class="th">
          User
        </th>
        <th class="th">
          Email
        </th>
        <th class="th">
          Role
        </th>
        <th class="th">
          Position at work
        </th>
        <th class="th">
          Department
        </th>
        <th class="th">
          Last login
        </th>
        <th class="th">
          Action
        </th>

      </tr>
      </thead>

      <tbody>

      <ng-container *ngFor="let user of userList; let i = index">
        <tr class="tr">
          <td class="td">
            {{i}}
          </td>
          <td class="td">
            {{user.userName}} {{user.surname}}
          </td>
          <td class="td">
            {{user?.email}}
          </td>
          <td class="td">
            {{getRole(user)}}
          </td>
          <td class="td">
            {{user?.position || '###'}}
          </td>
          <td class="td">
            {{user?.department || '###'}}
          </td>
          <td class="td">
            <p class="last-login">
              {{getDate(user?.lastLogin)}}
            </p>
            <p class="last-login">
              {{getTime(user?.lastLogin)}}
            </p>
          </td>
          <td class="td">
            <button class="btn action-btn" [routerLink]="'/user/edit/' + user.id">
              Edit
            </button>
          </td>


        </tr>
      </ng-container>


      </tbody>

    </table>


  </div>











</div>
