.table {
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
  overflow: hidden;
  border-collapse: collapse;
}

.table-row {
  display: grid;
  grid-template-columns: 30px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 10px;
  align-items: center;
  padding: 10px;
}

.table-row:nth-child(odd) {
  background: rgba(244, 242, 255, 0.5);
}

.table-cell {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #25213B;
}

.table-row-header {
  background: #F4F2FF !important;

  .table-cell {
    font-weight: 600;
    font-size: 16px;
  }
}

.last-login {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #6E6893;
}

.email {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.05em;
  color: #6E6893;
}

.table-top {
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.search-container {
  position: relative;
  max-width: 392px;
  display: flex;
  align-items: center;
  width: 100%;

  img {
    margin-right: 10px;
    position: absolute;
    left: 10px;
  }
}

.search-input {
  font-size: 12px;
  line-height: 15px;
  color: #6E6893;
  width: 100%;
  padding: 13px 40px;
  background: #F4F2FF;
  border-radius: 6px;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: all 300ms ease;

  &::placeholder {
    font-size: 12px;
    line-height: 15px;
    color: #6E6893;
  }

  &:focus {
    border: 1px solid #6D5BD0;
  }
}

.add-user-btn {
  background: #6D5BD0;
  border-radius: 6px;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px;
  display: block;
  margin-left: auto;
  transition: all 300ms ease;

  &:hover {
    opacity: .9;
  }
}

.task-cell {
  display: flex;
  align-items: center;
}

.action-btn {
  margin-left: 10px;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  text-decoration-color: #424242;
  color: #424242;
  transition: all 300ms ease;
  font-weight: 500;

  &:hover {
    text-decoration-color: #152ab1;
    color: #152ab1;
  }
}


.td {
  font-size: 14px;
  line-height: 17px;
  color: #1F4173;
  padding: 10px 10px 10px 0;
}

thead {
  text-align: left;
}

th {
  border: none;
}

.tr {
  border-top: 1px solid #E6EAF0;
  border-collapse: collapse;
  transition: all 300ms ease;

  &.active {
    background: #E6EAF0;
    border-top: 1px solid transparent;
  }
}












