.task-page {
  display: grid;
  grid-template-columns: 400px 1fr;
}

.task-title {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #1F4173;
}

.task-item {
  font-size: 14px;
  line-height: 17px;
  color: #1F4173;
  padding: 10px 25px;
  border-bottom: 1px solid #E6EAF0;
  cursor: pointer;
  transition: all 300ms ease;

  &.active {
    background: #E6EAF0;
  }
}

.task-detail-body {
  padding: 15px;
}

.user-btn {
  font-size: 14px;
  color: #424242;
  border: 1px solid #2f2f2f;
  border-radius: 3px;
  padding: 5px 10px;
  cursor: unset;
}

.user-btn + .user-btn {
  margin-left: 10px;
}

.add-task-btn {
  padding: 7px 10px;
  font-size: 16px;
  line-height: 17px;
  border: 1px solid #152c4e;
  color: #1F4173;
  border-radius: 3px;
  transition: all 300ms ease;

  &:hover {
    background: #f4f9ff;
  }
}

.task-form {
  input, select, .select-container {
    max-width: 450px;
  }
  .textarea{
    height: 200px;
  }
}
