<div class="task-page">

  <div class="box">
    <div class="box-header flex align-items-center justify-content-between">
      <p class="task-title">
        Task list
      </p>
      <button class="btn add-task-btn" [routerLink]="'/task/add'">
        Add task
      </button>
    </div>
    <div class="task-list">
      <ng-container *ngFor="let task of taskList">
        <div
          class="task-item"
          (click)="selectTask(task)"
          [ngClass]="{'active': currentTask?.id === task?.id}"
        >
          {{task?.title}}
        </div>
      </ng-container>
    </div>
  </div>

  <div class="box">

    <div class="box-header flex align-items-center justify-content-between">
      <p class="task-title">
        Task detail
      </p>
      <button class="btn add-task-btn" *ngIf="edit === false" (click)="editToggle()">
        Edit task
      </button>
      <div class="flex align-items-center" *ngIf="edit === true">
        <button class="btn add-task-btn cancel" (click)="cancelChanges(currentTask.id)">
          Cancel
        </button>
        <button class="btn add-task-btn" (click)="saveChanges(taskForm)">
          Save
        </button>
      </div>
    </div>

    <div class="task-detail-body">
      <form class="task-form" #taskForm="ngForm">

        <p class="custom-input-label">Title</p>
        <input
          class="custom-input"
          [disabled]="!edit"
          [ngClass]="{
          'no-edit' : !edit,
          'error' : title.invalid && !formIsValid
          }"
          type="text"
          required
          minlength="3"
          #title="ngModel"
          [(ngModel)]="currentTask.title"
          name="title"
        >

        <p class="custom-input-label">Description</p>
        <p class="custom-input-value"
           *ngIf="!edit"
        >
          {{currentTask?.description}}
        </p>
        <textarea
          *ngIf="edit"
          class="custom-input textarea"
          name="description"
          required
          minlength="3"
          #description="ngModel"
          [(ngModel)]="currentTask.description"
          [ngClass]="{'error' : description.invalid && !formIsValid}"
        >
        </textarea>

        <p class="custom-input-label">Deadline</p>
        <p class="custom-input-value" *ngIf="!edit">
          {{currentTask?.deadline | date : 'dd-MM-yyyy'}}
        </p>
        <input
          *ngIf="edit"
          type="date"
          class="custom-input"
          #deadline='ngModel'
          [ngModel]="getFormattedDate(currentTask.deadline)"
          name="deadline"
          (change)="dateInputHandle($event)"
          required
          [min]="minDate"
          [ngClass]="{'error' : (deadline.touched && deadline.invalid) || (deadline.invalid && !formIsValid) }"
        >

        <p class="custom-input-label">Status</p>
        <p class="custom-input-value" *ngIf="!edit">
          {{getStatus(currentTask?.status)}}
        </p>
        <select
          *ngIf="edit"
          name="task"
          [(ngModel)]="currentTask.status"
          class="custom-input"
        >
          <option [value]="taskStatusList.NEW">New</option>
          <option [value]="taskStatusList.IN_PROGRESS">In progress</option>
          <option [value]="taskStatusList.UAT">UAT</option>
          <option [value]="taskStatusList.DONE">Done</option>
        </select>


        <p class="custom-input-label">Creator</p>
        <p class="custom-input-value">
          <button class="btn user-btn">
            {{currentTask?.creator?.userName }} {{currentTask?.creator?.surname}}
          </button>
        </p>

        <p class="custom-input-label">Performer</p>
        <p
          *ngIf="!edit"
          class="custom-input-value"
        >
          <button *ngFor="let user of currentTask?.performers" class="btn user-btn">
            {{user?.userName }} {{user?.surname}}
          </button>
        </p>

        <div
          class="select-container"
          *ngIf="edit"
        >
          <app-custom-select
            [list]="userListForSelect"
            [error]="currentTask.performers.length === 0 && !formIsValid"
            [defaultSelected]="defaultSelectedPerformers"
            (selectEvent)="performerHandler($event)"
          ></app-custom-select>
        </div>


      </form>

    </div>


  </div>

</div>
