<div class="task-page">

  <div class="box">
    <div class="box-header flex align-items-center justify-content-between">
      <p class="task-title">
        Task list
      </p>
      <button class="btn add-task-btn" [routerLink]="'/task/add'">
        Add task
      </button>
    </div>
    <div class="task-list">
      <ng-container *ngFor="let task of taskList">
        <div
          class="task-item"
          (click)="currentTask = task"
          [ngClass]="{'active': currentTask?.id === task?.id}"
        >
          {{task?.title}}
        </div>
      </ng-container>
    </div>
  </div>

  <div class="box">

    <div class="box-header flex align-items-center justify-content-between">
      <p class="task-title">
        Task detail
      </p>
      <button class="btn add-task-btn">
        Edit task
      </button>
    </div>

    <div class="task-detail-body">

      <p class="custom-input-label">Title</p>
      <p class="custom-input-value">
        {{currentTask?.title}}
      </p>

      <p class="custom-input-label">Description</p>
      <p class="custom-input-value">
        {{currentTask?.description}}
      </p>

      <p class="custom-input-label">Deadline</p>
      <p class="custom-input-value">
        {{currentTask?.deadline | date : 'dd-MM-yyyy'}}
      </p>

      <p class="custom-input-label">Status</p>
      <p class="custom-input-value">
        {{getStatus(currentTask?.status)}}
      </p>

      <p class="custom-input-label">Creator</p>
      <p class="custom-input-value">
        <button class="btn user-btn">
          {{currentTask?.creator?.userName }} {{currentTask?.creator?.surname}}
        </button>
      </p>

      <p class="custom-input-label">Performer</p>
      <p class="custom-input-value">
        <button *ngFor="let user of currentTask?.performers" class="btn user-btn">
          {{user?.userName }} {{user?.surname}}
        </button>
      </p>


    </div>


  </div>

</div>
