<div class="task-page">

  <div class="box">
    <p class="task-title">
      Task list
    </p>
    <div class="task-list">
      <ng-container *ngFor="let task of taskList">
        <div class="task-item">
          {{task}}
        </div>
      </ng-container>
    </div>
  </div>

  <div class="box">

    <p class="task-title">
      Task detail
    </p>

    <div class="task-detail-body">

      <p class="common-input-label">Title</p>
      <p class="common-input-value">Title</p>

      <p class="common-input-label">Description</p>
      <p class="common-input-value">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aspernatur illum inventore laudantium, possimus qui quos similique. Delectus deserunt eaque illo ipsam quo reiciendis sapiente.</p>

      <p class="common-input-label">Deadline</p>
      <p class="common-input-value">09/13/2021</p>

      <p class="common-input-label">Status</p>
      <p class="common-input-value">In progress</p>

      <p class="common-input-label">Creator</p>
      <p class="common-input-value">Name Surname</p>

      <p class="common-input-label">Performer</p>
      <p class="common-input-value">Name Surname</p>


    </div>


  </div>

</div>
