* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    outline: none;
    box-sizing: border-box;
}

blockquote {
    /*quotes: "\201C""\201D""\2018""\2019";*/
    position: relative;
}

body {
    width: 100vw;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.flex {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.flex-column {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

.align-items-center {
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.align-items-start {
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

.align-items-end {
    -webkit-box-align: end;
    -moz-box-align: end;
    -ms-flex-align: end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    justify-content: center;
}

ul {
    list-style: none;
}

button {
    outline: none;
}

input {
    outline: none;
}

.btn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.only-mobile {
    display: none;
}

.only-web {
    display: block;
}

.page {
    padding: 10px 25px;
}

.page-inner {
    padding: 0 24px;
}

.animate__animated {
    animation-duration: 300ms;
}

.width {
    width: 100%;
    max-width: 1220px;
    padding: 0 24px;
    margin: 0 auto;
}


.header {
    height: 101px;
}

.header-inner {
    background: #0C1939;
    padding: 36px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header-logo-container {
    margin-right: 40px;
}

.nav ul li {
    position: relative;
}

.nav-item-link {
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-decoration: none;
    margin-right: 21px;
    margin-left: 21px;
    padding-bottom: 10px;
}

.subheader {
    position: absolute;
    top: 30px;
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(23, 62, 77, 0.1);
    left: 50%;
    transform: translateX(-50%);
    height: 0;
    overflow: hidden;
    opacity: 0;
}

.header-nav-link-item:hover .subheader {
    height: auto;
    opacity: 1;
    padding: 18px 0;
}

.subheader-item-link {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    padding: 8px 30px;
    white-space: nowrap;
    width: 100%;
    display: block;
    text-decoration: none;
}

.subheader-item-link:hover {
    background: #FBDF46;
}

.header-right {
    margin-left: auto;
    position: relative;
}

.lang-select {
    position: absolute;
    right: 60px;
    color: #fff;
}

.search-container {
    position: relative;
}

.header-search-input {
    background: transparent;
    border: none;
    border-bottom: 1px solid #fff;
    width: 0;
    color: #fff;
    padding-left: 0;
    padding-bottom: 5px;
    opacity: 0;
    transition: all 300ms ease;
}

.header-search-input.active {
    width: 270px;
    padding-left: 10px;
    padding-right: 120px;
    opacity: 1;
}

.header-search-input::placeholder {
    font-size: 15px;
    line-height: 22px;
    color: #A1B2B8;
}

.lang-list {
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(23, 62, 77, 0.1);
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 300ms ease;
}

.lang-select:hover .lang-list {
    height: auto;
    opacity: 1;
}

.lang-list-item {
    padding: 8px 15px;
    cursor: pointer;
}

.selected-lang-container {
    margin-bottom: 14px;
}

.lang-select-arrow {
    margin-left: 12px;
}

.lang-list-item:hover {
    background: #FBDF46;
}

.header-search-btn {
    position: absolute;
    right: 0;
}

.sidebar-menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    opacity: 0;
    background: #0C1939;
    z-index: 999;
    overflow: scroll;
    padding: 9px 16px;
    transition: all 300ms ease;
}

.sidebar-menu.active {
    left: 0;
    opacity: 1;
}

.sidebar-menu-search {
    background: #1E2E57;
    border-radius: 20px;
    max-width: 187px;
    padding: 9px 12px;
    border: none;
    color: #fff;
}

.sidebar-menu-search::placeholder {
    color: #A1B2B8;
}

.sidebar-menu-lang-list {
    padding: 16px 0;
}

.sidebar-menu-lang-list {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: 9px;
    margin-bottom: 30px;
}

.sidebar-menu-lang-item {
    text-decoration: none;
    font-size: 16px;
    color: #FAFAFA;
    display: block;
    margin-right: 30px;
}

.sidebar-menu-lang-item.active {
    color: #FF5B3C;
}

.sidebar-nav-item {
    margin-bottom: 40px;
}

.sidebar-nav-item:last-child {
    margin-bottom: 30px;
}

.sidebar-nav-link {
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-decoration: none;
}

.sidebar-nav-link img {
    margin-left: 11px;
}

.sidebar-submenu {
    margin-left: 15px;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 300ms ease;
}

.sidebar-submenu.active {
    height: auto;
    opacity: 1;
}

.sidebar-submenu-item {
    margin-top: 10px;
}

.sidebar-submenu-link {
    font-size: 14px;
    line-height: 18px;
    color: #d4d4d4;
    text-decoration: none;
}

.sidebar-nav-ul {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-menu-footer {
    margin: 30px 0 20px;
}

.sidebar-menu-footer-item {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.sidebar-menu-footer-item-link {
    font-size: 14px;
    color: #A1B2B8;
    opacity: 0.7;
    text-decoration: none;
    margin-left: 17px;
}

/*--------------*/

.footer {
    background: #FAFAFA;
    padding: 60px 0 30px;
    margin-top: 120px;
}

.footer-content {
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.footer-logo-img {
    margin-bottom: 30px;
}

.footer-logo-description {
    font-size: 16px;
    line-height: 24px;
    color: #0C1939;
    margin-bottom: 30px;
    width: 70%;
}

.footer-sm-item {
    margin-right: 16px;
}

.footer-nav-title {
    font-size: 16px;
    line-height: 24px;
    color: #0C1939;
    margin-bottom: 20px;
}

.footer-nav-item {
    margin-bottom: 20px;
}

.footer-nav-item-link {
    font-size: 14px;
    line-height: 150%;
    color: #464c4e;
    opacity: 0.7;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer-nav-item-link img {
    margin-right: 15px;
}

.footer-bottom {
    padding-top: 28px;
    border-top: 1px solid #E8ECED;
}

.footer-bottom-text {
    font-size: 14px;
    text-align: center;
    color: #A1B2B8;
}

.footer-bottom-text-link {
    color: #8167d1;
    text-decoration: underline;
}

.header-banner {
    background-image: url("../img/header-banner.svg");
    background-size: cover;
    height: 400px;
    position: relative;
    margin-bottom: 90px;
}

.header-banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
    font-size: 34px;
    line-height: 63px;
    text-align: center;
    color: #FAFAFA;
}

.header-banner-text:after {
    content: '';
    position: absolute;
    bottom: -20px;
    width: 80%;
    border-bottom: 1px solid #FBDF46;
    left: 10%;
}

.success-certificates-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}

.success-certificates-item {
    max-width: 268px;
}

.success-certificates-img-container {
    height: 182px;
    width: 100%;
    overflow: hidden;
}

.success-certificates-img {
    width: 100%;
    transition: all 500ms ease;
}

.success-certificates-item-footer {
    background: #0C1939;
    padding: 30px 16px;
}

.success-certificates-item-footer p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    font-weight: 500;
    font-size: 18px;
    color: #FAFAFA;
}

.success-certificates-item:hover .success-certificates-img {
    transform: scale(1.05);
}


.blog-news-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
}

.blog-container {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    position: relative;
    max-width: 368px;
    width: 100%;
    transition: .6s;
}

.blog-img-container {
    width: 100%;
    margin: 0 0 32px 0;
}

.blog-img-title {
    position: absolute;
    display: inline-block;
    text-decoration: none;
    left: 29px;
    top: 20px;
    color: #FAFAFA;
    padding: 3px 20px;
    background-color: #FF5B3C;
}

.blog-data {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #0C1939;
    margin: 0 0 16px 0;
}

.blog-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #0C1939;
    margin: 0 0 16px 0;
}

.blog-text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #133845;
    margin: 0 0 16px 0;
}

.blog-more-info {
    opacity: 0;
    transition: .6s opacity, .6s visibility;
    color: #FF5B3C;
    margin: 0 0 25px 0;
}

.blog-container:hover {
    box-shadow: 0 4px 30px rgba(23, 62, 77, 0.1);
    transition: .6s;
}

.blog-container:hover .blog-more-info {
    opacity: 1;
}

.blog-content {
    margin: 0 16px;
}

.questions-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 32px;
    margin: 0 0 32px 0;
}

.question-container {
    padding: 20px 16px 30px 16px;
    border: 1px solid #EBEBEB;
    max-width: 568px;
}

.question-title {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #0C1939;
    margin: 12px 0 16px;
}

.question-text {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #0C1939;
}

.portfolio-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
}

.portfolio-item {
    display: flex;
    flex-direction: column;
    position: relative;
    text-decoration: none;
    max-width: 368px;
    box-shadow: 0 4px 30px rgba(23, 62, 77, 0.1);
}

.portfolio-item-img {
    margin: 0 0 16px 0;
    width: 100%;
}

.portfolio-item-footer-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -24px;
    background-color: #0C1939;
    max-height: 48px;
    height: 100%;
    max-width: 48px;
    width: 100%;
    opacity: 0;
    transition: all 300ms ease;
}

.portfolio-item-content {
    margin: 0 16px 16px 16px;
}

.portfolio-item-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
    margin: 0 0 12px 0;
}

.portfolio-item:hover .portfolio-item-footer-img {
    opacity: 1;
}

.portfolio-btn-wrapper {
    width: 100%;
}

.portfolio-btn {
    display: inline-flex;
    align-items: center;
    background: #0C1939;
    padding: 12px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    text-decoration: none;
    margin: 60px auto 0;
}

.button-img {
    margin: 0 0 0 15px;
}

.news-details-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 32px;
    margin-top: 90px;
}

.news-title-option {
    margin-bottom: 30px;
}

.news-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #0B0D17;
    margin-bottom: 20px;
}

.news-date {
    font-size: 14px;
    color: #C6C8D3;
    margin-right: 27px;
}

.share-container {
    background: #0063F7;
    border-radius: 15px;
    padding: 5px 10px;
}

.share-container.ln-in {
    background: #0A66C2;
}

.share-container + .share-container {
    margin-left: 15px;
}

.share-container-text {
    font-size: 14px;
    color: #FFFFFF;
    margin-left: 9px;
}

.news-details-img-container {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
}

.news-details-img {
    width: 100%;
}

.like-news-container {
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(23, 62, 77, 0.1);
}

.like-news-header {

}

.like-news-header-text {
    font-weight: 500;
    font-size: 22px;
    color: #000000;
    padding: 30px;
    text-align: center;
}

.like-news-item {
    border: 1px solid #E8ECED;
    box-sizing: border-box;
    padding: 30px 16px;
    transition: all 300ms ease;
}

.like-news-item:hover {
    box-shadow: 0px 4px 30px rgba(23, 62, 77, 0.1);
}

.like-news-item-date {
    font-size: 14px;
    color: #0C1939;
    margin-bottom: 16px;
}

.like-news-item-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #0C1939;
}

.like-news-item-link {
    text-decoration: none;
}

.appeal-head-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}

.appeal-head-title {
    font-weight: 500;
    font-size: 42px;
    line-height: 63px;
    color: #0C1939;
    margin-bottom: 16px;
}

.appeal-head-text {
    font-size: 16px;
    line-height: 24px;
    color: #0F2B36;
    margin-bottom: 31px;
}

.appeal-head-note-container {
    background: #D0D8DB;
    padding: 30px;
}

.appeal-head-note-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #0C1939;
}

.appeal-head-img-container {
    position: relative;
}

.appeal-head-img {
    margin-left: auto;
    display: block;
}

.appeal-head-img-note-container {
    background: #0C1939;
    position: absolute;
    bottom: -50px;
    right: 0;
}

.appeal-head-img-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FAFAFA;
    padding: 30px 62px;
}

.purpose-values-title {
    font-weight: bold;
    font-size: 42px;
    line-height: 63px;
    color: #0C1939;
    margin-bottom: 60px;
}

.purpose-values-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-gap: 32px;
}

.purpose-values-container.invert {
    grid-template-columns: 60% 40%;
}

.purpose-values-img {
    width: 100%;
}

.purpose-values-item {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-gap: 20px 32px;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid #E8ECED;
}

.purpose-values-item-number {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E8ECED;
}

.purpose-values-item-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #0C1939;
}

.purpose-values-item-text {
    font-size: 15px;
    line-height: 22px;
    color: #0F2B36;
    grid-column-start: 2;
}

.purpose-values-container + .purpose-values-title {
    margin-top: 90px;
}

.contact-container {
    margin-top: -196px;
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(23, 62, 77, 0.1);
    padding: 60px 30px;
    position: relative;
    z-index: 50;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.contact-title {
    font-weight: 500;
    font-size: 22px;
    color: #0C1939;
}

.contact-list-item-text {
    font-size: 16px;
    line-height: 24px;
    color: #0C1939;
    text-decoration: none;
    margin-left: 16px;
}

.contact-list-item + .contact-list-item {
    margin-top: 40px;
}

.contact-list {
    padding: 50px 0 30px;
    border-bottom: 1px solid #FBDF46;
    margin-bottom: 30px;
}

.contact-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px 18px;
    margin-top: 34px;
}

.contact-input {
    background: #11323E;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    color: #fff;
    border: none;
    padding: 12px 20px;
}

.contact-input::placeholder {
    color: #A1B2B8;
}

.status-radio {
    display: none;
}

.status-label {
    margin-left: 45px;
    position: relative;
    cursor: pointer;
    color: #0C1939;
    font-size: 16px;
    opacity: 0.4;
    transition: all 300ms ease;
    line-height: 24px;
}

.status-label:before {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid #A1B2B8;
    top: 50%;
    transform: translateY(-50%);
    left: -20px;
    box-sizing: border-box;
    transition: all 300ms ease;
}

.status-radio:checked + .status-label:before {
    border: 4px solid #FBDF46;
}

.status-radio:checked + .status-label {
    opacity: 1;
}

.contact-textarea {
    background: #11323E;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    resize: none;
    width: 100%;
    color: #fff;
    grid-column: 1/-1;
    height: 145px;
    padding: 12px 20px;
}

.contact-textarea::placeholder {
    color: #A1B2B8;
}

.send-form-btn {
    display: inline-flex;
    align-items: center;
    background: #FBDF46;
    padding: 12px 32px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #133845;
    cursor: pointer;
}

.send-form-btn img {
    margin-left: 10px;
}

.services-container {
    margin-top: -206px;
    background: #FFFFFF;
    box-shadow: 0 4px 30px rgba(23, 62, 77, 0.1);
    position: relative;
    z-index: 50;
    padding: 30px;
}

.services-title-container {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.services-img-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: #E8ECED;
}

.services-title {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #0C1939;
    margin: 0 0 0 16px;
}

.services-container > p {
    margin: 0 0 35px 0;
    font-size: 16px;
    line-height: 24px;
    color: #0F2B36;
}

.services-suggestion {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
    background-color: #0C1939;
    margin: 0 0 40px 0;
    width: 100%;
}

.services-suggestion:after {
    color: #FBDF46;
    content: close-quote;
    font-size: 70px;
    line-height: 0.1em;
    position: absolute;
    top: 35px;
    left: 10px;
}

.services-suggestion:before {
    color: #FBDF46;
    content: open-quote;
    font-size: 70px;
    line-height: 0.1em;
    position: absolute;
    bottom: 0;
    right: 10px;
}

.services-suggestion-img {
    display: flex;
    position: absolute;
}

.suggestion-img-left {
    left: 12px;
    top: 12px;
}

.suggestion-img-right {
    right: 12px;
    bottom: 12px;
}

.services-suggestion-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FAFAFA;
    margin: 48px 0 48px 0;
}

.services-banner-img {
    width: 100%;
}

.customer-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 32px;
}

.customer-item {
    height: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E8ECED;
}

.customer-item-img-active {
    display: none;
}

.customer-item:hover .customer-item-img-active {
    display: block;
}

.customer-item:hover .customer-item-img-inactive {
    display: none;
}

.blog-detail-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #0B0D17;
    margin-bottom: 30px;
    margin-top: 90px;
}

.blog-detail-img-container {
    margin-bottom: 30px;
}

.blog-detail-img {
    width: 100%;
}

.blog-detail-text {
    font-size: 16px;
    line-height: 24px;
    color: #020608;
    margin-bottom: 70px;
}

.blog-detail-carousel-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #0C1939;
    margin-bottom: 26px;
}

.blog-detail-carousel {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 25px;
}

.carousel-item {
    width: 100%;
    cursor: pointer;
    max-height: 80vh;
}


.carousel-popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
}

.carousel-popup-wrapper.active {
    visibility: visible;
    opacity: 1;
}

.popup-carousel-container {
    max-width: 968px;
    width: 100%;
    padding: 16px;
    max-height: 90vh;
    position: relative;
    top: -40px;
}

.popup-carousel {
    max-height: 70vh;
    height: 100%;
}

.popup-carousel.owl-theme .owl-nav {
    margin-top: 10px;
}

.popup-carousel .owl-nav {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.popup-carousel.owl-theme .owl-nav button {
    width: 48px;
    height: 48px;
    background: #FBDF46 !important;
    opacity: 1;
}

.popup-carousel.owl-theme .owl-nav button span {
    display: none;
}

.popup-carousel.owl-theme .owl-nav button:hover {
    width: 48px;
    height: 48px;
    background: #FBDF46;
    opacity: 1;
}

.popup-carousel.owl-theme .owl-nav .owl-prev {
    position: absolute;
    left: -100px;
}

.popup-carousel.owl-theme .owl-nav .owl-prev:before {
    position: absolute;
    content: url("../img/prev-arrow.svg");
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popup-carousel.owl-theme .owl-nav .owl-next {
    position: absolute;
    right: -100px;
}

.popup-carousel.owl-theme .owl-nav .owl-next:before {
    position: absolute;
    content: url("../img/next-arrow.svg");
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-carousel-btn {
    position: relative;
    background: transparent;
    border: 2px solid #FFFFFF;
    margin-bottom: 22px;
    margin-left: auto;
    cursor: pointer;
}

.error-page-width {
    padding: 16px;
}

.error-page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    align-items: center;
    height: calc(100vh - 102px);
    max-height: 820px;
    overflow: hidden;
}

.error-page-title {
    margin-bottom: 30px;
    color: #0F2B36;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 84px;
}

.main-button {
    display: inline-block;
    text-decoration: none;
    border: 1px solid transparent;
    background-color: #0C1939;
    color: #FAFAFA;
    padding: 12px 32px;
    font-size: 16px;
    line-height: 24px;
}

.error-page-image {
    max-width: 568px;
    max-height: 80vh;
}

.about-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #0C1939;
    background: #E8ECED;
    display: inline-block;
    padding: 8px 60px;
    margin-bottom: 30px;
}

.about-text {
    font-size: 16px;
    line-height: 24px;
    color: #11323E;
    margin-bottom: 60px;
}

.about-banner-bottom-container {
    padding: 60px 30px;
    background: #F8F8F8;
    width: 100%;
    max-width: 768px;
    margin-top: -50px;
    position: relative;
    margin-left: 100px;
    margin-bottom: 90px;
}

.about-banner-bottom-container-bottom-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #11323E;
}

.about-advantage-title {
    font-weight: bold;
    font-size: 42px;
    line-height: 63px;
    color: #0C1939;
    margin-bottom: 26px;
}

.about-advantage-list {
    background: #FAFAFA;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 0;
    margin-bottom: 304px;
}

.about-advantage-item {
    padding: 71px 30px 48px;
    transition: all 300ms ease;
}

.about-advantage-item:hover {
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.16);
}

.about-advantage-item-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #133845;
    text-align: center;
    position: relative;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

.about-advantage-item-title:after {
    position: absolute;
    content: '';
    border-bottom: 2px solid #FBDF46;
    width: 78px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about-advantage-item-text {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #0F2B36;
    max-width: 308px;
    display: block;
    margin: 0 auto;
}

.call-you-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.call-you-title {
    font-weight: bold;
    font-size: 56px;
    line-height: 84px;
    color: #0C1939;
    margin-bottom: 16px;
}

.call-you-subtitle {
    font-size: 16px;
    line-height: 24px;
    color: #133845;
}

.call-you-right {
    background: #0C1939;
    padding: 126px 100px 123px;
    position: relative;
}

.call-you-right:after {
    position: absolute;
    content: '';
    background: #0C1939;
    width: 500%;
    height: 100%;
    left: 100%;
    top: 0;
}

.call-you-form-img-top {
    position: absolute;
    right: 0;
    z-index: 99;
    margin-top: -215px;
}

.call-you-form-img-bottom {
    position: absolute;
    right: 0;
    z-index: 99;
}

.call-you-form-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #FAFAFA;
    margin-bottom: 40px;
}

.call-you-form {

}

.call-you-input {
    background: #11323E;
    border-radius: 6px;
    font-size: 16px;
    line-height: 24px;
    padding: 12px 20px;
    color: #fff;
    border: none;
    margin-bottom: 20px;
}

.call-you-input::placeholder {
    color: #A1B2B8;
}

.index-intro-wrapper {
    background: #0C1939;
    height: calc(100vh - 101px);
    max-height: 931px;
    position: relative;
    overflow: hidden;
}

.index-intro-wrapper .width {
    height: 100%;
}

.index-intro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 100%;
}

.index-intro-bg {
    position: absolute;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.index-intro-bg-img {
    width: 100%;
    height: 100%;
}

.index-intro-left {
    /*margin-right: 30px;*/
    position: relative;
}

.index-intro-line {
    width: calc(100% - 30px);
    border-bottom: 1px solid #133845;
    position: relative;
    margin-bottom: 40px;
}

.index-intro-line:after {
    width: 50%;
    content: '';
    border-bottom: 1px solid #FAFAFA;
    position: absolute;
    left: 0;
    top: 0;
}

.index-intro-title {
    font-weight: bold;
    font-size: 56px;
    line-height: 84px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.index-intro-title span {
    color: #FBDF46;
}

.index-intro-text {
    font-size: 16px;
    line-height: 24px;
    color: #B9C5CA;
    margin-bottom: 40px;
    padding-right: 30px;
}

.index-intro-btn {
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    border: 1px solid #FAFAFA;
    padding: 12px 32px;
}

.scroll-btn {
    position: absolute;
    right: -35px;
    bottom: 0;
}

.fast-developing-wrapper {
    background: #fafafa;
}

.fast-developing {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    padding-top: 130px;
    padding-bottom: 30px;
}

.fast-developing-title {
    font-weight: bold;
    font-size: 42px;
    line-height: 63px;
    color: #0C1939;
    margin-bottom: 30px;
}

.fast-developing-text {
    font-size: 16px;
    line-height: 24px;
    color: #133845;
    margin-bottom: 40px;
}

.fast-developing-right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
}

.fast-developing-item {
    padding: 53px 30px 47px;
    box-shadow: 0 4px 30px rgba(23, 62, 77, 0.1);
    border: 1px solid #FAFAFA;
    margin-bottom: 32px;
}

.fast-developing-right-column.first {
    margin-top: 145px;
}

.fast-developing-item-circle {
    width: 82px;
    height: 82px;
    border-radius: 50%;
    background-color: #FBDF46;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 22px;
    color: #133845;
    margin: 0 auto 32px;
}

.fast-developing-item-text {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #0C1939;
    max-width: 208px;
    margin: 0 auto;
}

.provide-service-wrapper {
    background: #0C1939;
}

.provide-service-title {
    padding-top: 120px;
    font-weight: bold;
    font-size: 42px;
    line-height: 63px;
    color: #FAFAFA;
    margin-bottom: 32px;
}

.provide-service-btn {
    background: #FBDF46;
    padding: 12px 32px;
    font-size: 16px;
    line-height: 24px;
    color: #133845;
    display: flex !important;
    text-decoration: none;
}

.provide-service-btn img {
    margin-left: 10px;
}

.provide-service-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 32px;
    padding-bottom: 120px;
    position: relative;
}

.provide-service-list:before {
    position: absolute;
    content: url("../img/polygon.svg");
    bottom: -52px;
    left: -100px;
}

.provide-service-item {
    background: #0C1939;
    border: 1px solid #11323E;
    padding: 40px 30px 65px;
    position: relative;
    min-height: 342px;
}

.provide-service-item-inner-hover {
    opacity: 0;
    transition: all 300ms ease;
}

.provide-service-item:hover .provide-service-item-inner-simple {
    display: none;
}

.provide-service-item:hover .provide-service-item-inner-hover {
    display: block;
    opacity: 1;
}


.provide-service-row {
    margin-bottom: 60px;
}

.provide-service-item-icon-wrapper {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #11323E;
    margin: 0 auto 20px;
}

.provide-service-item-title {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    text-align: center;
    color: #FAFAFA;
    margin-bottom: 16px;
}

.provide-service-item-text {
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    color: #D0D8DB;
}

.provide-service-text {
    font-size: 16px;
    line-height: 24px;
    color: #D0D8DB;
    max-width: 568px;
}

.provide-service-custom-img {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.provide-service-item-btn {
    background: #0C1939;
    padding: 12px 32px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FAFAFA;
    position: absolute;
    bottom: 16px;
    left: 50%;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    white-space: nowrap;
    transform: translateX(-50%);
}

.provide-service-item-btn img {
    margin-left: 10px;
}

.experience-title-up {
    margin-bottom: 14px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FF5B3C;
    margin-top: 117px;
    position: relative;
}

.experience-title-up:before {
    position: absolute;
    content: url("../img/experience-title-before.svg");
    left: -65px;
    top: 12px;
}

.experience-title {
    font-weight: bold;
    font-size: 42px;
    line-height: 63px;
    color: #0C1939;
    max-width: 568px;
}

.index-blog-news {
    margin-top: 20px;
}

.index-blog-news-title {
    font-weight: bold;
    font-size: 42px;
    line-height: 63px;
    color: #0C1939;
}

.index-blog-news .provide-service-text {
    color: #133845;
}

.index-call-you {
    margin-top: 200px;
}

.index-slider {
    margin-top: 90px;
    width: 968px;
}

.slide-note {
    margin-top: 30px;
    background: #E8ECED;
    border-radius: 6px;
    max-width: 468px;
    display: none;
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    color: #000000;
    padding: 30px 20px;
    position: relative;
}

.slide-note.active {
    display: inline-block;
}

.slide-note:after {
    position: absolute;
    content: url("../img/slider-not-after.svg");
    top: -17px;
    left: 50px;
}

.slider-width {
    width: 968px;
    margin: 0 auto;
}

.slider-buttons {
    margin-top: 76px;
    display: flex;
}

.slider-btn {
    margin-left: 32px;
    background: #FBDF46;
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
}

.index-slider-bottom {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}

.provide-service-page {
    padding-bottom: 0;
}

.provide-service-page:before {
    content: none;
}

.pagination-btn-prev, .pagination-btn-next {
    width: 64px;
    height: 64px;
    border: 1px solid #0C1939;
    border-radius: 50%;
    cursor: pointer;
}

.pagination-row {
    width: 100%;
    max-width: 588px;
    margin: 55px auto 0;
    padding: 15px;
}

.pagination-btn {
    font-weight: 500;
    font-size: 22px;
    line-height: 33px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #D0D8DB;
    background: transparent;
    border: none;
    cursor: pointer;
}

.pagination-btn.active {
    color: #0C1939;
}

.send-form-btn-wrapper {
    grid-column: 1/-1;
    align-items: center;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: flex-start;
}

.success-message-text {
    font-size: 16px;
    color: #0C1939;
    margin-left: 18px;
}

.success-message-container {
    visibility: hidden;
    opacity: 0;
    margin-left: 32px;
    transition: all 300ms ease;
}

.success-message-container.active {
    visibility: unset;
    opacity: 1;
}

.contact-error-text {
    display: none;
    color: red;
}

.contact-error-text.active {
    display: block;
}

@media only screen and (max-width: 700px ) {

    .popup-carousel .owl-nav {
        top: unset;
    }

    .only-mobile {
        display: block;
    }

    .only-web {
        display: none;
    }

    .nav, .header-right, .footer-nav {
        display: none;
    }

    .width {
        max-width: 400px;
    }

    .header {
        height: 80px;
    }

    .header-inner {
        padding: 28px 0;
    }

    .header-logo-img {
        width: 85px;
    }

    .header-banner {
        height: 180px;
        margin-bottom: 60px;
    }

    .header-banner-text {
        font-size: 22px;
        line-height: 33px;
    }

    .success-certificates-list {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .success-certificates-item {
        margin: 0 auto;
        max-width: 350px;
        width: 100%;
    }

    .footer {
        margin-top: 90px;
    }

    .footer-content {
        grid-template-columns: 1fr;
    }

    .footer-logo-description {
        width: unset;
        font-size: 16px;
        line-height: 24px;
        color: #0C1939;
    }

    .footer-logo-img {
        width: 147px;
    }

    .footer-sm-container {
        margin-bottom: 25px;
    }

    .footer-bottom {
        flex-direction: column;
        align-items: flex-start;
    }

    .footer-bottom-text + .footer-bottom-text {
        margin-top: 12px;
    }

    .blog-news-container {
        grid-template-columns: 1fr;
    }

    .blog-img-container img {
        width: 100%;
    }

    .blog-more-info {
        opacity: 1;
    }

    .questions-container {
        grid-template-columns: 1fr;
    }

    .portfolio-list {
        grid-template-columns: 1fr;
    }

    .portfolio-item-footer-img {
        opacity: 1;
    }

    .news-details-container {
        grid-template-columns: 1fr;
        margin-top: 70px;
    }

    .news-title {
        font-size: 18px;
    }

    .appeal-head-container {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .appeal-head-width {
        padding: 0;
    }

    .appeal-head-img {
        width: 100%;
    }

    .appeal-head-title {
        font-size: 22px;
        line-height: 33px;
        padding: 0 16px;
    }

    .appeal-head-text {
        font-size: 16px;
        padding: 0 16px;
    }

    .appeal-head-note-container {
        padding: 30px 16px;
    }

    .appeal-head-note-text {
        font-size: 15px;
        line-height: 22px;
    }

    .appeal-head-container-right {
        margin-bottom: 147px;
    }

    .purpose-values-container {
        grid-template-columns: 1fr;
    }

    .purpose-values-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 16px;
    }

    .purpose-values-item-title {
        font-weight: 500;
        font-size: 18px;
    }

    .purpose-values-item-text {
        font-size: 14px;
    }

    .purpose-values-item {
        grid-gap: 3px 16px;
    }

    .purpose-values-item-text {
        grid-column: 1/-1;
    }

    .purpose-values-container.invert {
        grid-template-columns: 1fr;
    }

    .purpose-values-container.invert .purpose-values-list {
        grid-row: 2/3;
    }

    .purpose-values-container.invert .purpose-values-img-container {
        grid-row: 1/2;
    }

    .purpose-values-item:first-child {
        padding-top: 0;
    }

    .contact-container {
        grid-template-columns: 1fr;
        margin: 0;
        box-shadow: none;
        padding: 0;
    }

    .contact-form {
        grid-template-columns: 1fr;
    }

    .send-form-btn-wrapper {
        display: flex;
        justify-content: flex-end;
    }

    .services-container {
        margin-top: 0;
        padding-left: 0;
        padding-right: 0;
    }

    .services-width {
        padding: 0;
    }

    .question-container {
        margin: 0 16px;
    }

    .customer-list {
        grid-template-columns: 1fr;
    }

    .blog-detail-carousel-title {
        margin-bottom: 16px;
        font-weight: 500;
        font-size: 22px;
    }

    .owl-theme .owl-dots {
        margin-top: 13px;
    }

    .owl-theme .owl-dots .owl-dot span {
        background: #FF5B3C !important;
        opacity: 0.3 !important;
    }

    .owl-theme .owl-dots .owl-dot.active span {
        opacity: 1 !important;
    }

    .blog-detail-title {
        margin-top: 60px;
    }

    .popup-carousel.owl-theme .owl-nav .owl-prev {
        position: absolute;
        left: 0;
    }

    .popup-carousel.owl-theme .owl-nav .owl-next {
        position: absolute;
        right: 0;
    }

    .blog-detail-carousel .owl-nav {
        display: none;
    }

    .error-page {
        grid-template-columns: 1fr;
    }

    .error-page-left-content {
        grid-row: 2/3;
    }

    .error-page-image {
        grid-row: 1/2;
    }

    .error-page-image {
        width: 100%;
    }

    .error-page {
        height: unset;
        grid-gap: 20px;
    }

    .error-page-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #0F2B36;
    }

    .error-page-title {
        margin-bottom: 16px;
    }

    .about-title {
        padding: 8px 0;
        width: Calc(100vw - 32px);
        text-align: center;
        margin: 0 16px 30px;
    }

    .about-text {
        font-size: 15px;
        line-height: 22px;
        margin-bottom: 30px;
        padding: 0 16px;
    }

    .about-banner {
        width: 100%;
        position: absolute;
        left: 0;
    }

    .about-banner-container {
        min-height: 230px;
    }

    .about-banner-bottom-container {
        margin-top: 0;
        margin-left: 0;
        padding: 30px 0;
    }

    .about-banner-bottom-container-bottom-text {
        padding: 0 16px;
    }

    .about-width {
        padding: 0;
    }

    .about-banner-bottom-container {
        margin-bottom: 30px;
    }

    .about-advantage-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #0C1939;
        padding: 0 16px;
    }

    .about-advantage-list {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        margin-bottom: 60px;
    }

    .about-advantage-item {
        background: #FAFAFA;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.16);
        margin: 0 16px;
    }

    .call-you-form-img-top, .call-you-form-img-bottom {
        display: none;
    }

    .call-you-container {
        grid-template-columns: 1fr;
    }

    .call-you-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        color: #0C1939;
    }

    .call-you-right-inner {
        width: 100%;
        position: absolute;
        left: 0;
        padding: 16px 30px;
    }

    .call-you-right {
        height: 418px;
        margin-top: 30px;
        padding: 0;
    }

    .call-you-right:after {
        content: none;
    }

    .call-you-form-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 30px;
    }

    .index-intro-bg {
        grid-template-columns: 1fr;
    }

    .index-intro {
        height: unset;
    }

    .index-intro-left {
        margin-top: 60px;
    }

    .index-intro-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
    }

    .index-intro {
        grid-template-columns: 1fr;
    }

    .index-intro-text {

    }

    .index-intro-bg {
        height: unset;
        margin-top: 415px;
    }

    .scroll-btn-mobile {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .index-intro-wrapper {
        overflow: unset;
    }

    .fast-developing {
        grid-template-columns: 1fr;
    }

    .fast-developing-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 16px;
    }

    .fast-developing-text {
        margin-bottom: 30px;
    }

    .video-frame {
        width: 100%;
    }

    .fast-developing-right {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .fast-developing-right-column.first {
        margin-top: 0;
    }

    .provide-service-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        padding-top: 60px;
    }

    .provide-service-list {
        grid-template-columns: 1fr;
    }

    .provide-service-row {
        margin-bottom: 30px;
    }

    .provide-service-item.custom {
        height: 320px;
    }

    .index-blog-news {
        margin-top: 90px;
    }

    .index-blog-news-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
        margin-bottom: 16px;
    }

    .blog-container {
        box-shadow: 0 4px 30px rgba(23, 62, 77, 0.1);
    }

    .provide-service-btn-wrapper {
        margin-top: 30px;
        display: flex;
    }

    .provide-service .provide-service-btn-wrapper {
        margin-top: 0;
        padding-bottom: 130px;
    }

    .provide-service-list {
        padding-bottom: 30px;
    }

    .index-call-you {
        margin-top: 60px;
    }

    .index-call-you .width {
        padding: 0;
    }

    .index-call-you .call-you-title {
        padding: 0 24px;
    }

    .index-call-you .call-you-subtitle {
        padding: 0 24px;
    }

    .experience-title-up {
        margin-top: 106px;
        font-weight: 500;
        font-size: 18px;
    }

    .experience-title-up:before {
        content: none;
    }

    .experience-title {
        font-weight: 500;
        font-size: 22px;
        line-height: 33px;
    }

    .index-slider {
        margin-top: 30px;
    }

    .slider-buttons-mobile {
        display: flex;
        justify-content: flex-end;
        margin-right: 16px;
        margin-top: 19px;
    }

    .slider-width {
        width: calc(100% - 32px);
        margin: 0 16px;
    }

    .slide-note {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
    }

    .index-slider {
        width: calc(100vw - 48px) !important;
        margin: 30px 24px 0;
    }

    .index-slider-item img {
        width: 100%;
    }

    .services-title-container {
        padding: 0 16px;
    }

    .services-container > p {
        padding: 0 16px;
    }

    .pagination-btn-prev, .pagination-btn-next {
        width: 42px;
        height: 42px;
    }

    .send-form-btn-wrapper {
        display: grid;
        grid-template-columns: 1fr;
    }

    .submit-btn-mobile {
        display: flex;
        justify-content: flex-end;
    }

    .success-message-container {
        margin-left: 0;
        margin-top: 22px;
    }
}
